div(style='clear:both')
.play-buttons
  button#play play()
  button#pause pause()
  button#reverse reverse()
  button#resume resume()
  // <button id="stagger">play("stagger")</button>
  button#restart restart
div(style='clear:both')
#sliderWrapper
  #slider
